<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lab Monitor</title>



        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">



        <!--[if lte IE 8]>
          
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
          
        <![endif]-->
        <!--[if gt IE 8]><!-->
          
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
            <link rel="stylesheet" href="/static/blog.css">
            <link rel='shortcut icon' href='/static/favicon.ico' type='image/x-icon'>
          
        <!--<![endif]-->



        <script type="text/javascript" src="/static/plotly-latest.min.js"></script>
        <!--<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>-->
    </head>



    <body>


    <div id="layout" class="pure-g">


        <div class="sidebar pure-u-1 pure-u-md-1-4">
            <div class="header">
                <h1 class="brand-title">Lab Monitor</h1>
                <h2 class="brand-tagline">Created with Python and Raspberry Pi</h2>

                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a class="pure-button" href="http://marksteinlab.org/">Markstein Lab</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="http://github.com/edridgedsouza/LabMonitor">GitHub</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>


        <div class="content pure-u-1 pure-u-md-3-4">
            <div>
                <div class="posts"> <h1 class="content-subhead">Raspberry Pi Monitor</h1>
                    <section class="post">
                        <header class="post-header">
                            <a href="https://www.bio.umass.edu/biology/"><img class="post-avatar" alt="Raspberry Pi" height="48" width="48" src="/static/umass.png"></a>

                            <h2 class="post-title">Graphical temperature and humidity monitor</h2>

                            <p class="post-meta">
                                By <a href="http://marksteinlab.org/" class="post-author">Markstein Lab</a>
                            </p>
                        </header>

                        <div class="post-description">
                            <div id="graph" style="width:1000px;height:600px;"></div>
                        </div>
                    </section>

                <div class="footer">
                    <div class="pure-menu pure-menu-horizontal">
                        <ul>
                            <li class="pure-menu-item"><a href="http://marksteinlab.org/" class="pure-menu-link">Markstein Lab</a></li>
                            <li class="pure-menu-item"><a href="http://github.com/edridgedsouza/LabMonitor" class="pure-menu-link">GitHub</a></li>
                        </ul>
                    </div>
                </div>

                </div>
            </div>
        </div>

    </div>

        
        <script type="text/javascript">
        function getData(){
        Plotly.d3.tsv("/log", function(data){
           // Plotly.d3.tsv("/static/templog.txt", function(data){
                data.forEach(function(d){console.log(d);})
                process(data)
            })
        }

        function process(rows){
            var time = [], temp = [], hum = [];

            for (var i=0; i < rows.length; i++){
                currentRow = rows[i];
                time.push(currentRow['time']);
                temp.push(currentRow['temp']);
                hum.push(currentRow['hum']);
            }

            // Remove outlier values where temp and humidity sensor don't work
            while (temp.indexOf("-999") != -1){
                outlier = temp.indexOf("-999")
                //Uncomment if you just want to discard these data points
                //time.splice(outlier,1)
                //temp.splice(outlier,1)
                //hum.splice(outlier,1)
                temp[outlier] = "NA"
                hum[outlier] = "NA"
            }

            console.log('Time:', time, time.length, 'Temp:', temp, temp.length, 'Humidity:', hum, hum.length);
            graphIt(time, temp, hum);
        }

        function graphIt(datetime, temperature, humidity){
            var plotDiv = document.getElementById("plot"); // Doesn't seem to be used but it was in the tutorial so I'm keeping it.
            var tempTrace = {x: datetime, 
                y: temperature, 
                name: "Temperature", 
                type: 'scatter',
                //mode: 'lines+markers',
                line: {shape: 'spline', width: 4},
                marker:{color: 'rgb(255,122,105)'}
            };

            var humTrace = {x: datetime, 
                y: humidity, 
                name: "Humidity", 
                yaxis: 'y2', 
                type: 'scatter',
                //mode: 'lines+markers',
                line: {shape: 'spline', width: 2},
                marker:{color: 'rgba(85,159,255, 0.7)'}
            };

            var combined = [tempTrace, humTrace];

            // Find min and max points. May not be totally necessary but no harm
            tempMax = Math.max.apply(null, temperature);
            tempMin = Math.min.apply(null, temperature);
            humMax = Math.max.apply(null, humidity);
            humMin = Math.min.apply(null, humidity);

            globalMax = Math.max(tempMax, humMax) + 3;
            globalMin = Math.min(tempMin, humMin) - 3;

            var aesthetics = {
                title: 'Temperature and Humidity Monitoring',
                plot_bgcolor: 'rgba(240,240,240,1)',
                paper_bgcolor: 'rgba(0,0,0,0)',
                xaxis: {
                    title: 'Time',
                    showgrid: true,
                    gridcolor: 'rgba(255,255,255,1)',
                    zeroline: true
                },
                yaxis: {
                    title:'Temperature (Celsius)',
                    color: 'rgb(255,122,105)',
                    showline: true,
                    showgrid: true,
                    gridcolor: 'rgba(255,255,255,1)',
                    range: [tempMin - 0.5, tempMax + 0.5]
                },
                
                yaxis2: {
                    title: 'Humidity (percent)',
                    color: 'rgba(85,159,255, 0.7)',
                    showline: true,
                    showgrid: true,
                    gridcolor: 'rgba(255,255,255,0)', // Don't want confusing double grids
                    overlaying: 'y',
                    side: 'right',
                    range: [humMin - 0.5, humMax + 0.5]
                } 
                
            };
            Plotly.newPlot('graph', combined, aesthetics)
        }

            getData(); // Call the chain of events to get the data.
            console.log( Plotly.BUILD );
        </script>



    </body>
</html>     
